body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar{
    background-color: #ffffff ;
    height:100px;
    padding: 20px;
}

.navbar-collapse {
    margin-right: 50px;
}


.link{
    font-size: 2rem;
    color:red;
}

 .navbar-nav li a:hover {
   color:black;
}

.navbar-brand{
    font-size: 3rem;
}


